body {
  background-color: rgb(238, 77, 77);
}

h1 {
  text-align: center;
  text-shadow: 2px 2px rgb(68, 4, 15);
}

table,
th,
td {
  border: 1px solid white;
}

th {
  background-color: rgb(252, 172, 172);
}
.center {
  margin-left: auto;
  margin-right: auto;
}

td {
  text-align: center;
  color: white;
}

table img {
  height: 200px;
  width: 150px;
}

#belowGrid {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

footer {
  text-align: center;
  background-color: rgb(66, 2, 2);
}

footer p {
  color: white;
  font-size: 20px;
  font-weight: bold;
}
